header {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    padding: 32px 16px 16px;

    font-size: 24px;
    font-weight: bold;
}

article {
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 16px;

    font-size: 17px;
    line-height: 24px;
}

p {
    padding-bottom: 16px;
}
