html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

a {
    margin: 8px;

    text-decoration: none;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 190px;
}
