body {
    transition: all 0.2s;

    color: #333;
}

a {
    color: #0700ee;
}

a:visited {
    color: #663396;
}

#enable-dark-mode-button {
    position: absolute;
    top: 0;
    right: 0;

    width: auto;
    height: auto;
    padding: 16px;

    cursor: pointer;

    color: inherit;
    border: none;
    background-color: transparent;
}

.dark-mode body {
    color: #fff;
    background-color: #333;
}

.dark-mode a {
    color: #8686f5;
}

.dark-mode a:visited {
    color: #805e9e;
}

@media (prefers-color-scheme: dark) {
    .with-dark-mode body {
        color: #fff;
        background-color: #333;
    }

    .with-dark-mode a {
        color: #8686f5;
    }

    .with-dark-mode a:visited {
        color: #805e9e;
    }

    .with-dark-mode.light-mode body {
        color: #333;
        background-color: transparent;
    }
}
